PORT=8008
NODE_ENV=development

# Database Configuration (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root_password
DB_DATABASE=vastu_reel_db
DB_SYNCHRONIZE=true
DB_LOGGING=true

# Security & CORS
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
CORS_ORIGIN=*
JWT_SECRET=abcde

# Redis Queue Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# S3 / Cloudflare R2 / MinIO Configuration
S3_ENDPOINT=http://localhost:9000
S3_CLIENT_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadminpassword
S3_BUCKET_NAME=vastu-reels
S3_FORCE_PATH_STYLE=true
